:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

main {
  width: 70%;
}

#filters, #options {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px auto;
}

#filter-container,
#tag-container {
  margin: 15px 10px;
}

#filter-container label,
#tag-container label {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#filter-container label:hover,
#tag-container label:hover {
  background-color: grey;
}

#filter-container input:checked ~ #filter-label,
#tag-container input:checked ~ #tag-label {
  background-color: grey;
}

#image-container img {
  height: 400px;
  width: 400px;
  margin: 30px auto 0 auto;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

input[type="checkbox"] {
  display: none;
}

#images {
  display: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #b7b7b7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  font-size: 8px;
  margin-top: 50px;
  color: rgb(57, 57, 57);
}

@media screen and (max-width: 800px) {
  main {
    width: 100vw;
    max-width: 100vw;
  }
  body {
    width: 100vw;
    max-width: 100%;
  }
  #image-container img {
    height: 300px;
    width: 300px;
  }
}